# Dependencies
node_modules/
.bun/
bun.lockb

# Build outputs
dist/
build/
.next/
out/
.turbo/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local
.env.*.local
*.env
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.settings/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Docker
.docker/
docker-compose.override.yml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Testing
.pytest_cache/
coverage/
.nyc_output/

# docs
/docs/*
!/docs/screenshots/

# handata
apps/etl/hand-data/*.json
apps/etl/hand-data/*.csv

*.md
!README.md
*.csv
*.json
*.sql
*.db

.agents

!apps/api/src/mocks/*
!apps/web/docs/screenshots/web/*
